.swiper {
  .swiper-slide {
    opacity: 1;
    transition: all 0.2s ease-out;
    width: 380px;
  }

  .swiper-slide-prev {
    opacity: 0;
  }
}

.slide {
  width: 380px !important;
  min-height: 430px !important;
  padding: 20px;
  background-color: #fff;
  opacity: 1;
  border-radius: 10px;
}



.section__title {
  font-weight: 700;
  font-size: 44px;
  max-width: 940px;
  margin-bottom: 50px;
}

// background-image: url(../../../public/img/format.svg);


.head {
  display: flex;
  gap: 15px;
  margin-bottom: 30px;
}

.img {
  width: 70px;
  height: 70px;
}

.top {
  display: flex;
  align-items: center;
}

.name {
  font-weight: 600;
  font-size: 16px;
}

.verify {
  margin-left: 6px;
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../../../public/img/pass-up.svg);
}

.role {
  font-size: 14px;
  line-height: 1.4;
  margin-bottom: 11px;
}



.rating {
  padding-left: 19px;
  position: relative;
  padding-right: 8px;
  margin-right: 8px;

  &::before {
    position: absolute;
    display: block;
    content: "";
    width: 14px;
    height: 14px;
    background-image: url(../../../public/img/star.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }


}

.stars {
  display: flex;
  align-items: center;
  gap: 7px;
  margin-bottom: 15px;

  img {
    width: 18px;
    height: 18px;
  }
}

.title {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 15px;
  display: inline-block;
}

.text {
  font-size: 16px;
  color: #3B4A69;
  line-height: 1.5;
}

// .text__open {
//   font-size: 16px;
//   color: #3B4A69;
//   line-height: 1.5;
//   display: -webkit-box;
//   -webkit-box-orient: vertical;
//   -webkit-line-clamp: 7;
//   overflow: hidden;
//   margin-bottom: 14px;
// }\
.wrapper {
  margin-bottom: 150px;
  overflow: hidden;

  .swiper-slide-prev {
    opacity: 0;
  }
}

@media (max-width: 1080px) {
  .section__title {
    font-size: 44px;
  }

  .swiper-button-prev,
  .swiper-button-next {
    display: none !important;
  }

  .wrapper {
    margin-bottom: 100px;
  }
}

@media (max-width: 768px) {
  .section__title {
    font-size: 26px;
    white-space: wrap;
    margin-bottom: 40px;
    display: block;
  }

  .title {
    font-size: 18px;
  }

  .text {
    font-size: 16px;
  }

  .wrapper {
    margin-bottom: 80px;
  }
}

@media (min-width: 1080px) {
  .name {
    white-space: nowrap;
  }
}