.questanswer {
  margin-bottom: 150px;

  .section__title {
    margin-bottom: 50px;
  }
}

.box {
  display: flex;
  gap: 140px;
}

.acc {
  width: 700px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.right {
  p {
    font-size: 18px;
    color: #3B4A69;
    line-height: 1.5;
    margin-bottom: 50px;
  }

  a {
    color: #4E6AF3;
  }
}

.mob {
  display: none;
}

.mob a {
  color: #4E6AF3;
}

@media (max-width: 1120px) {
  .right {
    display: none;
  }

  .mob {
    display: block;
    margin-bottom: 40px;
  }

  .questanswer {
    margin-bottom: 100px;
  }
}

@media (max-width: 768px) {
  .acc {
    padding: 0 20px;
    gap: 10px;
  }

  .mob {
    padding: 0 20px;
    margin-bottom: 20px;
  }

  .questanswer {
    margin-bottom: 80px;
  }
}

@media (min-width: 1080px) {
  .right {
    width: 340px;
  }
}